{% extends 'base.html' %}

{% block content %}
<form class="form-group" action="{% url 'create-notification' %}" method="POST"> {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="container">
        <div class="form-row justify-content-center mt-3">
            <div class="form-group col-md-4">
              <div class="mb-1">Title</div>  
              <label for="{{ form.title.id_for_label }}"></label> {{ form.title }}
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-4">
              <label for="{{ form.description.id_for_label }}">Description</label> {{ form.description }}
            </div>
        </div>

        <div class="form-row justify-content-center">
            <div class="form-group col-md-4">
               <input class="btn btn-success w-25" type="submit" value="Push">
            </div>
        </div>
    </div>
</form>
{% endblock %}
