{% extends 'base.html' %}

{% block content %}
	{% if feedbackSubmitted %}
		<h2> Oops! Looks like you have already submitted feedback for this course.</h2>
	{% else %}
	<form class="form-check" action="{% url 'student-feedback' %}" method="POST"> {% csrf_token %}
	    <div>
	    	<label for="{{ form.courseCode.id_for_label }}">Course Code</label>
	    	{{ form.courseCode }}
	    </div>
	    <div>
	    	<label for="{{ form.teaching.id_for_label }}">Teaching</label>
	    	{% for option in form.teaching %}
	    	<div>
	    		{{ option}}
	    	</div>
	    	{% endfor %}
	    </div>
	     <div>
	    	<label for="{{ form.syllabus.id_for_label }}">Syllabus Coverage</label>
	    	{% for option in form.syllabus %}
	    	<div>
	    		{{ option}}
	    	</div>
	    	{% endfor %}
	    </div>
	     <div>
	    	<label for="{{ form.doubtClar.id_for_label }}">Doubt Clarification</label>
	    	{% for option in form.doubtClar %}
	    	<div>
	    		{{ option}}
	    	</div>
	    	{% endfor %}
	    </div>
	    
	   <div>
	   	<label for="{{ form.miscFeedback.id_for_labe}}">Miscellaneous Feedback</label>
	   	{{ form.miscFeedback }}
	   </div>
	    <input type="submit" value="Push">
	</form>
	{% endif %}
{% endblock %}
