{% extends 'base.html' %}

{% block content %}
	{% if feedbackSubmitted %}
		<h2> Oops! Looks like you have already submitted feedback for this course.</h2>
	{% else %}
	<form class="form-check" action="{% url 'student-feedback' %}" method="POST"> {% csrf_token %}
	    
	    <h1 class="text-center">Course Feedback </h1>
	    <div class="ml-3 mt-3">
	    	<label for="{{ form.courseCode.id_for_label }}"><h5>Course Code</h5></label>
	    	{{ form.courseCode }}
	    </div>
	    <div>
<!-- 	    	<label for="{{ form.teaching.id_for_label }}">Teaching</label>
	    	{% for option in form.teaching %}
	    	<div>
	    		{{ option}}
	    	</div>
	    	{% endfor %}
 -->
	     	<div class="ml-3 mt-3">
		    	<label for="{{ form.teaching.id_for_label }}"><h5>Teaching</h5></label>
	    	</div>
	    	{% for option in form.teaching %}
	    	<div class="d-inline ml-5">
	    		{{ option}}
	    	</div>
	    	{% endfor %}

	    </div>
	     <div>
<!-- 	    	<label for="{{ form.syllabus.id_for_label }}">Syllabus Coverage</label>
	    	{% for option in form.syllabus %}
	    	<div>
	    		{{ option}}
	    	</div>
	    	{% endfor %}
 -->
	     	<div class="ml-3 mt-3">
		    	<label for="{{ form.syllabus.id_for_label }}"><h5>Syllabus Coverage</h5></label>
	    	</div>
	    	{% for option in form.syllabus  %}
	    	<div class="d-inline ml-5">
	    		{{ option}}
	    	</div>
	    	{% endfor %}

	    </div>
	     <div>
	     	<div class="ml-3 mt-3">
		    	<label for="{{ form.doubtClar.id_for_label }}"><h5>Doubt Clarification</h5></label>
	    	</div>
	    	{% for option in form.doubtClar %}
	    	<div class="d-inline ml-5">
	    		{{ option}}
	    	</div>
	    	{% endfor %}
	    </div>
	    
<!-- 	   <div>
	   	<label for="{{ form.miscFeedback.id_for_labe}}">Miscellaneous Feedback</label>
	   	{{ form.miscFeedback }}
	   </div>
	    <input type="submit" value="Push">
 -->
		<div class="container ml-0 mt-3">	 
	        <div class="form-row">
	            <div class="form-group col-md-4">
	              <label for="{{ form.miscFeedback.id_for_labe}}"><h5>Miscellaneous Feedback</h5></label> {{ form.miscFeedback }}
	            </div>
	        </div>

	        <div class="form-row">
	            <div class="form-group col-md-4">
	               <input class="btn btn-success w-25" type="submit" value="Push">
	            </div>
	        </div>
	    </div>
	</form>
	{% endif %}
{% endblock %}
