{% extends 'base.html' %}

{% block content %}

<table class="table table-striped w-auto mt-3 ml-4">
	<thead class="thead-dark">
		<tr>
			<th>Course</th>
			<th>Date</th>
			<th>Present?</th>
		</tr>
	</thead>
	<tbody>
		{% for day in attendance %}
			<tr class="table-secondary">
				<td>{{ day.courseCode }}</td>
				<td>{{ day.classDate }}</td>
				{% if day.attended %}
					<td>Present</td>
				{% else %}
					<td>Absent</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}